* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    height: auto;
    background-color: #172936;
    position: relative;
    padding: 70px;
    display: flex;
    justify-content: center;
    gap: 40px;
    border: none;
}

.first_box {
    border: 2px solid black;
    height: 58%;
    background-color: #253644;
    width: 270px;
    position: sticky;
    top: 40px;
    border-radius: 20px;
    border: 1px solid rgba(195, 79, 12, 0.274);
    padding-bottom: 10px;
}

.second_box {
    border: 2px solid black;
    height: 100%;
    width: 900px;
    background-color: #253644;
    border: 1px solid rgba(195, 79, 12, 0.274);
    border-radius: 20px;
    color: white;
    padding-bottom: 80px;
}

.first_content {
    color: white;
    padding: 35px 30px;
}

.first_content hr {
    width: 40px;
    height: 5px;
    border-radius: 10px;
    background-color: #F06F21;
    border: none;
    margin-top: 20px;
    margin-bottom: 24px;
}

.second_content {
    padding: 35px 30px;
    font-size: medium;
}

.boxes {
    /* border: 2px solid black; */
    border-radius: 20px;
    height: 465px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    /* padding-right: 5px; */
    padding-top: 20px;
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
}

.box {
    height: 206px;
    width: 406px;
    /* border: 2px solid black; */
    border-radius: 20px;
    background-color: #172936;
    display: flex;
    flex-direction: row;
}

.second {
    padding-top: 20px;
}

.second h2 {
    /* margin-top: 20px; */
    text-align: starts;
}

.second p {
    padding-top: 20px;
    /* margin-top: 20px; */
    /* justify-content: center; */
    text-align: start;
}

.first {
    border: 2px solid black;
    border-radius: 10px;
    height: 150px;
    width: 250px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F06F21;
}

.second_content h1 {
    height: 60px;
}

.boxer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-evenly;
}

.box2 {
    height: 316px;
    width: 400px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #172936;
    color: white;
    border: none;
}

.last_one {
    padding-bottom: 40px;
    padding-left: 28px;
}

.first_smallbox {
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first_break {
    width: 215px;
    height: 2px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #393B40;
    border: none;
    margin-left: 24px;
}

.second_smallbox {
    width: 270px;
    height: 400px;
    border: 2px solid black;
    border-radius: 20px;
    border: none;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.small_boxes {
    border: 2px solid black;
    border-radius: 20px;
    width: 270px;
    height: 90px;
    display: flex;
    align-items: center;
    gap: 24px;
    border: none;
}

.innersmall_box1 {
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 10px;
    background-color: #172937;
    height: 50px;
    width: 55px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innersmall_box2 {
    border: 2px solid black;
    border-radius: 10px;
    width: 190px;
    height: 60px;
    border: none;
}

.innersmall_box2 p {
    color: #AFB5BB;
    padding-top: 18px;
}

.innersmall_box2 h4 {
    color: #A1A6AA;
}

.box2 h2 {
    padding-top: 24px;
    padding-left: 20px;
}

.avatar1 {
    width: 270px;
    height: 240px;
    border: 2px solid black;
    border-radius: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 34px;
}

.first_smallbox h1 {
    color: white;
    text-align: center;
    margin-top: 8px;
    /* margin-bottom: 14px; */
}
.other_box{
    background-color: #172937;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    width: 210px;
    height: 30px;
    border: none;
    display: flex;
    justify-content: center;
    margin-top: 18px;
}
.avatar2{
    color: #F06F21;
}
.avatar3{
    color: #F06F21;
}
.avatar4{
    color: #F06F21;
}
.avatar5{
    color: #F06F21;
}
.third_smallbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 60px;
    color: #F06F21;
    gap: 1rem;
}
.box2 img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-left: 150px;
}
.video{
    border-radius: 20px;
    width: 380px;
    height: 240px;
    padding-left: 10px;
    padding-top: 8px;
}
.real_avatar{
    width: 145px;
    height: 150px;
    border-radius: 20px;
    border: 1px solid black ;
    border: none;
}